{% block eccube2downloads_down_filename_widget %}
    <div class="mb-3">
        <label class="col-form-label">ダウンロードファイル名(表示用)</label>
        {{ form_widget(form) }}
        {{ form_errors(form) }}
        <p class="form-text text-muted">ダウンロード販売商品の場合、表示用のファイル名を入力してください。</p>
    </div>
{% endblock %}
